# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: 4D-jp
brief-intro: 4D Japan Technical Support Team
# baseurl:  # the subpath of your site, e.g. /blog
url: "https://4D-jp.github.io" # the base hostname & protocol for your site

permalink: /:year/:month/:day/:title/

# other links
# twitter_username: 
facebook_username: 4DJAPAN
# github_username:  
email: Info-JP@4d.com
# weibo_username: 
# zhihu_username: 

description_footer: 

# comments
# two ways to comment, only choose one, and use your own short name
# duoshuo_shortname: 
# disqus_shortname: 

# statistic analysis 统计代码
# 百度统计 id，将统计代码替换为自己的百度统计id，即
# hm.src = "//hm.baidu.com/hm.js?xxxxxxxxxxxx";
# xxxxx字符串
# baidu_tongji_id: 
google_analytics_id: UA-132873397-1

# Build settings
markdown: kramdown

kramdown:
  syntax_highlighter_opts:
    disable : true

# port
# port: 1234

# url
category_dir: category/
tag_dir: tag/

#collections_dir: collections/
collections:
  tech_notes:
    output: true
    permalink: /:collection/:path/
  tech_tips:
    output: true
    permalink: /:collection/:path/
    
# excerpt
excerpt_separator: <!--more-->

# paginate
gems: [jekyll-paginate]
paginate: 10

# sitemap
gems: [jekyll-sitemap]

defaults:
  - scope:
      path: events/*
    values:
      sitemap: false
  - scope:
      path: help/*
    values:
      sitemap: false
  - scope:
      path: learning-material/*
    values:
      sitemap: false
