<header id="top">
    <div class="wrapper">
        <a href="{{ site.baseurl }}/" class="brand">{{ site.title }}</a>
        <small>{{site.brief-intro}}</small>
        <button id="headerMenu" class="menu"><i class="fa fa-bars"></i></button>
        <nav id="headerNav">
            <ul itemscope itemtype="http://schema.org/SiteNavigationElement">
                <li itemprop="name">
                    {% if page.url == '/' %}
                    <a itemprop="url" class="active" href="{{site.baseurl}}/">
                        {% else %}
                    <a itemprop="url" href="{{site.baseurl}}/">
                    {% endif %}
                        <i class="fa fa-home"></i>ホーム
                    </a>
                </li>

                {% for my_page in site.pages %}
                    {% if my_page.standalone %}
                    {% else %}
                        {% if my_page.title %}
                        <li itemprop="name">
                            {% if my_page.url == page.url %}
                            <a itemprop="url" class="active" href="{{ my_page.url | prepend: site.baseurl }}">
                                {% else %}
                            <a itemprop="url" href="{{ my_page.url | prepend: site.baseurl }}">
                            {% endif %}
                                <i class="fa fa-{{my_page.icon}}"></i>{{ my_page.title }}
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </ul>
        </nav>
    </div>
</header>
