.page[index] {
    a {
        color: #4d6dad;
        transition: 0.5s ease;
        &:hover {
            color: #223253;
        }
    }
    h4 {
	font-weight: bold;
	color: #4d6dad;
	font-size: 20px;
    }
    code.fourd {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	background: #e9e9e9;
	display: block;
	padding: 15px;
	color: #000;
	border-left: 4px solid #47bbc1;
	overflow: auto;
    }
    p.quote {
	background: #F4E2E6;
	display: block;
	padding: 15px;
	border-left: 4px solid #D74062;
	overflow: auto;
    }
    p.download {
	text-align: center;
    }
    p.download > a {
        background-color: #fff;
        color: #333;
        border: 1px solid #4d6dad;
        border-radius: 3px;
        font-size: 14px;
        padding: 9px 22px;
        transition: background 0.5s;
        margin: 15px 0;
        display: inline-block;
    }
    p.download > a:before {
        font-family: FontAwesome;
        content: "\f019";
        padding-right: 7px;
    }
    .command {
	color: #339966;
	font-weight: bold;
    }
    .comment {
        color: #535353;
    }
    .constant {
        color: #4D004D;
        text-decoration: underline;
    }
    .variable {
        color: #0031FF;
    }
    .keyword {
        color: #034D00;
        font-weight: bold;

    }
    .objectattribut {
        color: #A0806B;
    }
    .objectfunction {
        color: #5F8E5E;
        font-style: italic;
    }
    .tablename {
        color: #532300;
    }
    .tableField {
        color: #323232;
    }
    .method {
      color: #000080;
      font-style: italic;
      font-weight: bold;
    }
    .left {
        >ul {
            padding: 0;
            >li {
                list-style: none;
            }
            li {
                color: #333;
                h2 {
                    border: none;
                    font-size: 23px;
                    font-weight: bold;
                    margin: 0;
                }
                .label {
                    margin-bottom: 15px;
                    overflow: hidden;
                    .label-card {
                        float: left;
                        margin-right: 15px;
                        i {
                            padding-right: 0;
                            margin-right: 3px;
                            color: #6b6a6a;
                        }
                    }
                    .categories {
                        padding: 0;
                    }
                }
                .excerpt {
                    h2 {
                        font-size: 24px;
                    }
                    h3 {
                        font-size: 22px;
                    }
                    h4 {
                        font-size: 20px;
                    }
                }
                .read-all {
                    text-align: right;
                    font-size: 14px;
                    a {
                        color: #778ab0;
                        transition: 0.2s ease;
                        &:hover {
                            color: #5872a7;
                        }
                        i {
                            padding-right: 3px;
                        }
                    }
                }
            }
        }
        .pagination {
            text-align: center;
            .previous,
            .next {
                font-size: 20px;
                padding: 0 5px;
            }
            .page_number {
                padding: 0 5px;
            }
            .disable {
                color: #cbcbcb;
            }
        }
    }
    .right {
        .wrap {
            .side {
                margin-bottom: 20px;
                padding-bottom: 0;
                i {
                    margin-right: 3px;
                }
                .content-ul[cate] {
                    overflow: hidden;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        font-size: 14px;
                        a {
                            display: block;
                            width: 100%;
                            padding: 2px 0;
                            border-bottom: 1px solid #eee;
                            &:hover {
                                background-color: #dbdfee;
                                .badge {
                                    background-color: #dbdfee;
                                    transform: scale(1.2) rotate(360deg);
                                }
                            }
                            .name {
                                padding-left: 15px;
                            }
                            .badge {
                                display: block;

                                // width: 20px;
                                float: right;
                                text-align: center;
                                margin-right: 15px;
                                margin-top: 3px;
                                padding: 0 10px;
                                font-size: 12px;
                                color: #fff;
                                background-color: #bbb;
                                border-radius: 50%;
                                transition: 0.5s ease-in-out;
                            }
                        }
                        &:last-of-type a {
                            border: none;
                        }
                    }
                }
                .content-ul[recent]{
                    padding-bottom: 16px;
                    li{
                        color:#aaa;
                        font-size: 14px;
                    }
                }
                .tags-cloud {
                    font-weight: normal;
                    a {
                        padding: 0 3px;
                        border-radius: 5px;
                        &:hover {
                            background-color: #f0e7ce;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
    .page[index] {
        .left>ul li {
            h2 {
                font-size: 22px;
            }
            .excerpt {
                h2 {
                    font-size: 20px;
                }
                h3 {
                    font-size: 18px;
                }
                h4 {
                    font-size: 16px;
                }
                li{
                    margin: 0;
                }
            }
        }
    }
}
