#markdown-toc {
    display: none;
}
.page[post] {
    .label {
        margin-top: 16px;
        overflow: hidden;
        .label-card {
            float: left;
            margin-right: 15px;
            .point {
                padding: 0 10px;
                color: #9d9d9d;
            }
            i {
                padding-right: 5px;
                color: #6b6a6a;
            }
        }
    }
    a {
        color: #4d6dad;
        transition: 0.5s ease;
        &:hover {
            color: #223253;
            background-color: #f4efeb;
        }
    }
    h4 {
        font-weight: bold;
        color: #4d6dad;
        font-size: 20px;
    }
    code.fourd {
        font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
        background: #e9e9e9;
        display: block;
        padding: 15px;
        color: #000;
        border-left: 4px solid #47bbc1;
        overflow: auto;
    }
    p.quote {
	background: #F4E2E6;
	display: block;
	padding: 15px;
	border-left: 4px solid #D74062;
	overflow: auto;
    }
    p.download {
        text-align: center;
    }
    p.download > a {
        background-color: #fff;
        color: #333;
        border: 1px solid #4d6dad;
        border-radius: 3px;
        font-size: 14px;
        padding: 9px 22px;
        transition: background 0.5s;
        margin: 15px 0;
        display: inline-block;
    }
    p.download > a:before {
        font-family: FontAwesome;
        content: "\f019";
        padding-right: 7px;
    }
    .command {
	color: #339966;
	font-weight: bold;
    }
    .comment {
        color: #535353;
    }
    .constant {
        color: #4D004D;
        text-decoration: underline;
    }
    .variable {
        color: #0031FF;
    }
    .keyword {
        color: #034D00;
        font-weight: bold;

    }
    .objectattribut {
        color: #A0806B;
    }
    .objectfunction {
        color: #5F8E5E;
        font-style: italic;
    }
    .tablename {
        color: #532300;
    }
    .tableField {
        color: #323232;
    }
    .method {
      color: #000080;
      font-style: italic;
      font-weight: bold;
    }
    .wide {
        ul {
            >h2 {
                color: #333;
            }
            li {
                color: #333;
                margin: 0;
            }
        }
    }    
    .left {
        ul {
            >h2 {
                color: #333;
            }
            li {
                color: #333;
                margin: 0;
            }
        }
    }
}
@media screen and (max-width: 770px) {
    .page[post] {
        .wide {
            font-size: 15px;
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
            }
            h4 {
                font-size: 18px;
            }
            h5 {
                font-size: 16px;
            }
            h6{
                font-size: 15px;
            }
        }
        .left {
            font-size: 15px;
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
            }
            h4 {
                font-size: 18px;
            }
            h5 {
                font-size: 16px;
            }
            h6{
                font-size: 15px;
            }
        }
    }
}
