---
layout: default
---

<div class="page clearfix" notes>
    
    <div class="wide"><!-- 100% -->
        <h1>{{page.title}}</h1>
        <div class="label">

            <div class="label-card">
                <i class="fa fa-calendar"></i>{{ page.date | date: "%F" }}
            </div>

            <div class="label-card">
                {% if page.author %}<i class="fa fa-user"></i>{{ page.author }}
                {% endif %}
            </div>
            
            <div class="label-card">
                {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
            </div>
            
            {% capture categories %}
                {% for category in page.categories %}
                    <a href="{{ root_url }}/{{ site.category_dir }}#{{ category }}" title="Category: {{ category }}" rel="category">{{ category | join: "/" }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
                {% endfor %}
            {% endcapture %}
            {% capture category_size %}{{ categories | strip_newlines | replace: ' ', '' | size }}{% endcapture %}
            {% unless category_size == '0' %}
            <div class="label-card">
                <span class="categories">
                  <i class="fa fa-th-list"></i>{{ categories }}
                </span>   
            </div>            
            {% endunless %}
            
            {% capture tags %}
                {% for tag in page.tags %}
                    <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag }}" title="Tag: {{ tag }}" rel="tag">{{ tag | join: "/" }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
                {% endfor %}
            {% endcapture %}   
            {% capture tag_size %}{{ tags | strip_newlines | replace: ' ', '' | size }}{% endcapture %}
            {% unless category_size == '0' %}
            <div class="label-card">
              <span class="pageTag">
              <i class="fa fa-tags"></i>{{ tags }}
            </span>
            </div>            
            {% endunless %}
            
        </div>
        
        <hr>
        
        <article itemscope itemtype="http://schema.org/BlogPosting">
        {{content}}
        </article>
        
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>

</div>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
	<script>
	/**
	 * manage margin
	 * elementList.forEach(function(element){} is not available with IE
	 */
		var h = 0;
		var elementList = document.querySelectorAll("p, h1, h2, h3, h4, h5, h6, ul, div");
		var elementArray = Array.prototype.slice.call(elementList,0);
		elementArray.forEach(function(element){
			if(element.nodeName=="H1") h=1;
			else if (element.nodeName=="H2") h=2;
			else if (element.nodeName=="H3") h=3;
			else if (element.nodeName=="H4") h=4;
			else if (element.nodeName=="H5") h=5;
			else if (element.nodeName=="H6") h=6;
			else if (element.nodeName=="DIV") {
				if (element.className=="highlight"){
					if(h<3) element.setAttribute("style","margin-left:0px;");
					else element.setAttribute("style","margin-left:"+String((h-2)*40)+"px;");
				}
			} else {
				if(h<3) element.setAttribute("style","margin-left:0px;");
				else element.setAttribute("style","margin-left:"+String((h-2)*40)+"px;");
			};
		});
	</script>
<!-- <script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
